/*-----Media Queries-----*/

@media screen and (max-width: 1400px) {}

@media screen and (min-width: 1024px) and (max-width: 1300px) {}

@media screen and (max-width: 992px) {
    .cp-fo .sidebar, .cp-fo .bootstrap-navbar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 80px;
        right: auto;
        left: 0;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        padding: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .nav-open .sidebar, .nav-open .bootstrap-navbar {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .nav-open .main-panel {
        left: 0;
        -webkit-transform: translate3d(80px, 0, 0);
        -moz-transform: translate3d(80px, 0, 0);
        -o-transform: translate3d(80px, 0, 0);
        -ms-transform: translate3d(80px, 0, 0);
        transform: translate3d(80px, 0, 0);
    }
}

@media (max-width: 768px) {
    .cp-fo .sidebar, .cp-fo .bootstrap-navbar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 80px;
        right: auto;
        left: 0;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        padding: 0;
        -webkit-transform: translate3d(-80px, 0, 0);
        -moz-transform: translate3d(-80px, 0, 0);
        -o-transform: translate3d(-80px, 0, 0);
        -ms-transform: translate3d(-80px, 0, 0);
        transform: translate3d(-80px, 0, 0);
    }

    .nav-open .sidebar, .nav-open .bootstrap-navbar {
        -webkit-transform: translate3d(-80px, 0, 0);
        -moz-transform: translate3d(-80px, 0, 0);
        -o-transform: translate3d(-80px, 0, 0);
        -ms-transform: translate3d(-80px, 0, 0);
        transform: translate3d(-80px, 0, 0);
    }
}