/*-----Media Queries-----*/

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1300px) {
  .content-container{
    width: 100% !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {}

@media screen and (max-width: 992px) {
    .cp-fo .sidebar, .cp-fo .bootstrap-navbar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 80px;
        right: auto;
        left: 0;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        padding: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .nav-open .sidebar, .nav-open .bootstrap-navbar {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .nav-open .main-panel {
        left: 0;
        -webkit-transform: translate3d(80px, 0, 0);
        -moz-transform: translate3d(80px, 0, 0);
        -o-transform: translate3d(80px, 0, 0);
        -ms-transform: translate3d(80px, 0, 0);
        transform: translate3d(80px, 0, 0);
    }
}

@media (max-width: 767px) {

    .cp-fo .wrapper .page-wrap {
        margin-left: 0;
    }

    .cp-fo .sidebar, .cp-fo .bootstrap-navbar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        width: 80px;
        right: auto;
        left: 0;
        z-index: 1032;
        visibility: visible;
        overflow-y: visible;
        padding: 0;
        -webkit-transform: translate3d(-80px, 0, 0);
        -moz-transform: translate3d(-80px, 0, 0);
        -o-transform: translate3d(-80px, 0, 0);
        -ms-transform: translate3d(-80px, 0, 0);
        transform: translate3d(-80px, 0, 0);
    }

    .nav-open .sidebar, .nav-open .bootstrap-navbar {
        -webkit-transform: translate3d(-80px, 0, 0);
        -moz-transform: translate3d(-80px, 0, 0);
        -o-transform: translate3d(-80px, 0, 0);
        -ms-transform: translate3d(-80px, 0, 0);
        transform: translate3d(-80px, 0, 0);
    }

    .cp-fo .wrapper .sidebar-mobile {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .main-panel-page{

      &.fo-royalties{
        .content-container{

          [class*='-content-main']{

            .royalty-info{
              .royalty-contents{
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 2px solid $divider;
              }
            }
            .payment-actions{
              padding-bottom: 15px;
            }

          }
          [class*='-content-aside']{

          }


        }

      }

    }

}
